name: CI

on:
  pull_request:
    branches: 
      - developer

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        
      # Define a versão do Node da máquina virtual como 14
      - name: Set up Node.js
        uses: actions/setup-node@master
        
      - uses: c-hive/gha-yarn-cache@v1

      # Define o yarn para instalar as dependências do projeto. Ele usa as versões que   estão no package.json
      - name: Install dependencies
        run: yarn

      # Define o comando para rodar os testes do projeto
      - name: Run tests
        run: yarn test
